:root {
  --color-primary: #5ec576;
  --color-secondary: #ffcb03;
  --color-tertiary: #ff585f;
  --color-primary-darker: #4bbb7d;
  --color-secondary-darker: #ffbb00;
  --color-tertiary-darker: #fd424b;
  --color-primary-opacity: #5ec5763a;
  --color-secondary-opacity: #ffcd0331;
  --color-tertiary-opacity: #ff58602d;
  --gradient-primary: linear-gradient(to top left, #39b385, #9be15d);
  --gradient-secondary: linear-gradient(to top left, #ffb003, #ffcb03);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  color: #444;
  line-height: 1.9;
  background-color: #f3f3f3;
}

/* GENERAL */
.btn {
  display: inline-block;
  background-color: var(--color-primary);
  font-size: 1.6rem;
  font-family: inherit;
  font-weight: 400;
  border: none;
  padding: 1.25rem 3.5rem;
  border-radius: 10rem;
  cursor: pointer;
  transition: all 0.3s;
  z-index: 5;
}

.section-break {
  width: 100%;
  height: 1px;
  background-color: rgb(211, 207, 207);
}
.hidden {
  opacity: 0;
}

.active {
  opacity: 1;
}
/* NAVBAR */

nav {
  display: flex;
  width: 100%;
  height: 9rem;
  justify-content: space-between;
  align-items: center;
  padding: 0 6rem;
}
.navbar__logo {
  height: 4.5rem;
  transition: all 0.3s;
}
.navbar__list {
  display: flex;
}
.navbar__list > li {
  list-style: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-left: 5rem;
  font-size: 1.7rem;
  font-weight: 400;
}

/* HEADER */

.section__header {
  height: 100vh;
  max-width: 115rem;
  display: grid;
  align-items: center;
  grid-template-columns: 3fr 1fr;
  margin: auto;
  margin-top: -4rem;
}
h1 {
  font-size: 5.5rem;
  line-height: 1.35;
}

.hero__img {
  height: 40rem;
  width: 50rem;
}

.green__text {
  position: relative;
}
.green__text::after {
  display: block;
  position: absolute;
  content: '';
  z-index: -1;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: var(--gradient-primary);
  transform: scale(1.07, 1.05) skewX(-15deg);
  opacity: 0.7;
}

h4 {
  font-size: 2.3rem;
  padding: 2.5rem 0;
  font-weight: 500;
}

.btn__learn-more {
  border: none;
  color: #39b385;
  font-size: 1.8rem;
  font-weight: 500;
  font-family: inherit;
  background: none;
  border-bottom: 1px solid #39b385;
  cursor: pointer;
}

/* FEATURES */

.section__features-title {
  width: 80rem;
  margin: auto;
  text-align: left;
  margin-top: 15rem;
}
.features__green {
  color: #39b385;
  font-size: 2rem;
}

.features__text {
  font-size: 4rem;
  font-weight: 500;
  line-height: 5rem;
}

.features {
  display: grid;
  max-width: 155rem;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  align-items: center;
  justify-items: center;
  margin: auto;
  margin-top: 8rem;
  grid-gap: 4rem;
  margin-bottom: 15rem;
}
svg {
  width: 2.5rem;
  height: 2.5rem;
  fill: var(--color-primary);
}
.svg__div {
  width: 5.5rem;
  height: 5.5rem;
  border-radius: 50%;
  background-color: var(--color-primary-opacity);
  display: flex;
  justify-content: center;
  align-items: center;
}

.img__pc {
  width: 100%;
  height: 100%;
}
.img__grow {
  width: 100%;
  height: 100%;
}
.img__card {
  width: 100%;
  height: 100%;
}

h5 {
  font-size: 2rem;
}

p {
  font-size: 1.6rem;
  color: rgb(119, 116, 116);
}

.second__grid {
  padding: 5rem 9rem 5rem 9rem;
}
.third__grid {
  padding: 5rem 9rem 5rem 9rem;
}

.sixth__grid {
  padding: 5rem 9rem 5rem 9rem;
}

.second__grid > div,
h5,
p {
  margin-top: 2rem;
}

/* OPERATIONS */
.content__box-container {
  display: grid;
  justify-content: center;
  margin-bottom: 15rem;
  margin-top: 5rem;
  position: relative;
}

.content__box {
  max-width: 100rem;
  min-height: 31rem;
  background-color: white;
  padding-top: 6rem;
  position: relative;
}

.content__box div > p {
  padding: 0 15rem;
  margin-top: 0;
}

.content__box-buttons {
  display: flex;
  gap: 2.5rem;
  justify-content: center;
  transform: translateY(2.5rem);
  position: relative;
  z-index: 50;
}

.btn-green {
  font-weight: 500;
}
.btn-yellow {
  background-color: var(--color-secondary);
  font-weight: 500;
}
.btn-red {
  background-color: var(--color-tertiary);
  font-weight: 500;
}

.svg__div--yellow {
  display: flex;
  width: 7rem;
  height: 7rem;
  background-color: var(--color-secondary-opacity);
  border-radius: 50%;
  justify-content: center;
  align-items: center;
}
.svg__div--yellow > svg {
  fill: var(--color-secondary);
  height: 2.7rem;
  width: 2.7rem;
}

.svg__text-wraper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  margin-left: -21rem;
}

.box__content--1 {
  position: relative;
  z-index: 1;
}

.box__content--2 {
  position: absolute;
  top: 6rem;
  left: 10.8rem;
  z-index: 1;
}

.box__content--2 > p {
  margin-left: -13rem;
}

.box__content--3 {
  position: absolute;
  top: 6rem;
  left: 10.8rem;
  z-index: 1;
}

.box__content--3 > p {
  margin-left: -13rem;
}

/* OPERATIONS */

.scrolling__container {
  max-width: 80rem;
  margin: auto;
  margin-top: 6rem;
  margin-bottom: 18rem;
}
.scrolling__container--1 {
  display: grid;
  justify-content: center;
  align-items: center;
  padding: 0 9rem;
  margin-top: 10rem;
}
.testimonial {
  font-size: 1.7rem;
  color: rgb(61, 61, 61);
  position: relative;
}

.testimonial::before {
  content: '\201C';
  position: absolute;
  top: -12.5rem;
  left: -6.8rem;
  line-height: 1;
  font-size: 20rem;
  font-family: inherit;
  color: var(--color-primary);
  z-index: 5;
}

.scrolling__container--1 > h4 {
  font-size: 2.5rem;
}

.image__and--name {
  display: flex;
  gap: 2rem;
  margin: 4rem 3rem;
  position: relative;
}

h6 {
  font-size: 1.7rem;
  font-weight: 500;
}

.information__wraper {
  display: flex;
  flex-direction: column;
  line-height: 1.3rem;
  justify-content: center;
}

.image__and--name > img {
  width: 7rem;
  height: 7rem;
  border-radius: 50%;
}

.slider__btn {
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
  border: none;
  font-size: 3.5rem;
  position: absolute;
  cursor: pointer;
}

.slider__btn--left {
  left: -17rem;
  top: -15rem;
}

.slider__btn--right {
  left: 67rem;
  top: -15rem;
}

.dots__container {
  margin: auto;
}
.dots {
  width: 10px;
  height: 10px;
  border: none;
  border-radius: 50%;
  background-color: #37383d;
  margin-right: 1.8rem;
  cursor: pointer;
}

/* SIGNUP */

#section--4 {
  border-bottom: 1px solid #444;
}
.section__title {
  text-align: center;
  background-color: #37383d;
  padding: 10rem;
}

.section__title > h3 {
  color: white;
  font-size: 4rem;
  width: 80rem;
  margin: 0 auto 4rem auto;
  line-height: 5rem;
}

.section__title > .btn {
  font-size: 1.9rem;
  padding: 2rem 5rem;
  font-weight: 500;
}

/* FOOTER */
.footer {
  padding: 10rem 3rem;
  background-color: #37383d;
}

.footer__nav {
  list-style: none;
  display: flex;
  justify-content: center;
  margin-bottom: 5rem;
}

.footer__item {
  margin-right: 4rem;
}

.footer__link {
  font-size: 1.6rem;
  color: #eee;
  text-decoration: none;
}

.footer__logo {
  height: 5rem;
  display: block;
  margin: 0 auto;
  margin-bottom: 5rem;
}

.footer__copyright {
  font-size: 1.4rem;
  color: #aaa;
  text-align: center;
}

.footer__copyright .footer__link {
  font-size: 1.4rem;
}
